@mixin background-setup {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero {
    margin-top: $mobile-header-height;
    @include container($design-container);

    @include ipad {
        background: linear-gradient(to right, $white 45%, rgba($white, 0.5) 65%, transparent 85%), url("../../img/hero.png");
        @include background-setup();
    }

    &__bg {
        grid-column: 1/-1;
        background-image: url("../../img/hero.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        height: 280px;
        @include ipad {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-row: 2;
        padding: $spacing-mobile 0;

        @include ipad {
            grid-column: 2/8;
            grid-row: 1;
            @include vertical-spacing;
        }
    }
}
