.title-main {
    font-weight: bold;

    font-size: 4rem;
    line-height: 4.5rem;

    @include ipad {
        font-size: 5rem;
        line-height: 5.8rem;
    }

    @include laptop13 {
        font-size: 5rem;
        line-height: 5.5rem;
    }

    @include laptop {
        font-size: 6rem;
        line-height: 6.8rem;
    }

    @include pc {
        font-size: 8rem;
        line-height: 8.8rem;
    }
}

.title-secondary {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;

    @include ipad {
        font-size: 3.2rem;
        line-height: 4.8rem;
    }

    @include laptop13 {
        font-size: 5rem;
        line-height: 5.5rem;
    }

    @include laptop {
        font-size: 6rem;
        line-height: 6.8rem;
    }

    @include pc {
        font-size: 8rem;
        line-height: 8.8rem;
    }
}

.title-tertiary {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;

    @include ipad {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    @include laptop13 {
        font-size: 4rem;
        line-height: 5rem;
    }

    @include laptop {
        font-size: 5rem;
        line-height: 6rem;
    }

    @include pc {
        font-size: 5.2rem;
        line-height: 6rem;
    }
}

.title-small {
    font-size: 2.25rem;
    line-height: 3.2rem;
    font-weight: bold;

    @include laptop13 {
        font-size: 2.5rem;
        line-height: 3.6rem;
    }
}

.title-small-extra {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: bold;
    @include ipad {
        font-size: 1.8rem;
        line-height: 3.4rem;
    }

    @include laptop {
        font-size: 2rem;
        line-height: 3.2rem;
    }
}

.suptitle {
    font-size: 1rem;
}

.subtitle {
    font-size: 1.4rem;
}

.lead {
    font-size: 1.8rem;
}

p,
li,
a,
button,
textarea,
.paragraph {
    font-size: 1.6rem;
    line-height: 2.5rem;

    @include ipadPro {
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    @include laptop13 {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}
