.title-main {
    font-size: 8rem;
    line-height: 8.8rem;
}

.title-secondary {
    font-size: 5.6rem;
    line-height: 6.4rem;
}

.title-small {
    font-size: 2rem;
    line-height: 3.2rem;
}

.title-small-extra {
    font-size: 1.6rem;
}

.suptitle {
    font-size: 1rem;
}

.subtitle {
    font-size: 1.4rem;
}

.lead {
    font-size: 1.8rem;
}

p,
li,
a,
button,
textarea,
span {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.paragraph {
    margin-bottom: 4rem;
    line-height: 1.4;
}
