.btn {
    display: inline-block;
    padding: 2.6rem 4.4rem;
    @include transition;
    background-color: $red;
    color: $white;

    &:hover {
        background-color: #ff9393;
    }

    &--black {
        background-color: $black;
        color: $white;
        &:hover {
            background-color: $grey-dark;
        }
    }
}

.btn-secondary {
    display: inline-block;
    color: $red;
    padding-bottom: 1rem;
    border-bottom: 2px solid $red;
    @include transition;
    &:hover {
        color: $red-light;
        border-bottom: 2px solid $red;
    }
}
